.search-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #E5E5E5;
  z-index: 1000;
}

.search-page {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 80px;
}

.search-input-container {
  position: relative;
  width: 100%;
}

.search-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  z-index: 1;
  pointer-events: none;
}

.search-input {
  width: 100%;
  padding: 12px 16px 12px 48px;
  border: 1px solid #fff;
  border-radius: 5rem;
  font-size: 16px;
  position: relative;
  background-color: #fff;
}

.back-button {
  position: absolute;
  left: 1rem;
}

.search-title {
  font-weight: bold;
  color: #000;
  margin: 0;
  text-align: center;
}

.location-cards {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 20px;
  width: 100%;
  justify-content: space-between;
}

.location-card {
  background: white;
  border-radius: 1.5rem;
  padding: 16px;
  width: 100%;
  text-align: center;
  margin: 0 4px;
}

.location-content {
  display: flex;
  align-items: center;
}

.location-icon {
  margin-right: 12px;
}

.location-title {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  text-align: left;
}

.location-list {
  margin-top: 20px;
  width: 100%;
}

.location-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 1.5rem;
  width: 100%;
  box-sizing: border-box;
}

.location-info {
  display: flex;
  align-items: center;
}

.location-marker {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.location-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.location-name {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  color: #382915;
}

.location-description {
  font-size: 14px;
  color: #A098AE;
  margin: 0;
}

.weather-icon {
  width: 32px;
  height: 32px;
}
