.weather-forecast-container {
  width: 90%;
  margin: -125px auto 0;
  padding: 1rem;
  background-color: #FFF;
  border-radius: 1rem;
  position: relative;
  z-index: 2;
}

.weather-menu {
  text-align: right;
  margin-bottom: 1rem;
}

.weather-menu img {
  width: 24px;
}

.forecast-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  margin-top: 1rem;
  width: 100%;
  justify-content: space-between;
}

.forecast-card {
  color: #000;
  text-align: center;
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  box-shadow: none;
  outline: none;
  margin: 0;
}

.forecast-time {
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
  color: #A098AE;
}

.forecast-icon {
  width: 30px;
  height: 30px;
  margin: 0.25rem 0;
}

.forecast-temp {
  font-size: 1rem;
  font-weight: bold;
  color: #382915;
}

/* Tabs styling */
.forecast-tabs {
  margin-bottom: 1rem;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.forecast-tab {
  color: black !important;
  opacity: 1;
  font-weight: 500;
  border: none !important;
  outline: none !important;
}

.forecast-tab.Mui-selected {
  color: white !important;
  background: linear-gradient(90deg, #3C6FD1 0%, #7CA9FF 100%);
  border-radius: 2rem;
  border: none !important;
}

.MuiTabs-indicator {
  display: none;
}

.MuiTabs-flexContainer {
  justify-content: space-between !important;
  gap: 1rem;
}

.forecast-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
} 